@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "./variables/variables";

// Primary Colors
$bright-blue: hsl(220, 98%, 61%);
$check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
:root {
  --bright-blue: #{$bright-blue};
  --check-background: #{$check-background};

  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue-dark: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue-dark: hsl(234, 11%, 52%);
  --very-dark-grayish-blue-dark-1: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-dark-2: hsl(237, 14%, 26%);
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue-light: hsl(235, 19%, 35%);
}

body {
  background-color: var(--background-color);
}

.dark {
  --background-color: var(--very-dark-blue);
  --header-background: url("../assets/images/bg-desktop-dark.jpg");
  --header-background-mobile: url("../assets/images/bg-mobile-dark.jpg");
  --input-background: var(--very-dark-desaturated-blue);
  --input-color: var(--light-grayish-blue-dark);
  --content-list-background: var(--very-dark-desaturated-blue);
  --content-list-border-color: var(--very-dark-grayish-blue-dark-2);
  --completed-color: var(--very-dark-grayish-blue-dark-1);
  --btn-color: var(--very-dark-grayish-blue-dark-1);
  --btn-hover-color: var(--light-grayish-blue-hover);
  --btn-active-color: var(--bright-blue);
  --footer-background: var(--very-dark-desaturated-blue);
  --footer-text-color: var(--very-dark-grayish-blue-dark-1);
  --rouned-border-color: var(--very-dark-grayish-blue-dark-2);
  --scrollbar-color: var(--very-dark-grayish-blue-dark-2);
}

.light {
  --background-color: var(--very-light-grayish-blue);
  --header-background: url("../assets/images/bg-desktop-light.jpg");
  --header-background-mobile: url("../assets/images/bg-mobile-light.jpg");
  --input-background: var(--very-light-gray);
  --input-color: var(--very-dark-desaturated-blue);
  --content-list-background: var(--very-light-gray);
  --content-list-border-color: var(--light-grayish-blue);
  --completed-color: var(--dark-grayish-blue);
  --btn-color: var(--dark-grayish-blue);
  --btn-hover-color: var(--dark-grayish-blue);
  --btn-active-color: var(--bright-blue);
  --footer-background: var(--very-light-gray);
  --footer-text-color: var(--dark-grayish-blue);
  --rouned-border-color: var(--light-grayish-blue);
  --scrollbar-color: var(var(--light-grayish-blue));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  height: 100svh;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
}

// Mixin to customize scrollbars in Firefox
@mixin firefox-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
  &::-webkit-scrollbar {
    width: 3px;
    border-radius: 10px;
  }
}

.content-container {
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);

  .header {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 35vh;
    background-image: var(--header-background);
  }

  .content {
    position: relative;
    top: -200px;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;

    .title-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2em;

      .title {
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: 0.5rem;
        color: #fff;
        font-weight: 700;
        margin: 0;
      }

      .btn-toggle {
        background-color: transparent;
        border: none;
        align-self: flex-start;
        img {
          cursor: pointer;
          margin-top: 9px;
        }
      }
    }

    .input-container {
      display: flex;
      align-items: center;
      background-color: var(--input-background);
      border-radius: 0.4em;
      padding: 0.75em;
      margin-bottom: 1.4em;

      form {
        width: 100%;
      }

      input {
        width: 100%;
        border: none;
        background-color: transparent;
        font-size: 1rem;
        color: var(--input-color);
        margin: 0;
      }
      input:focus,
      input:active,
      input:hover,
      input:focus-visible {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }

    .content-list-container {
      @include firefox-scrollbar;
      position: relative;
      background-color: var(--content-list-background);
      border-radius: 0.4em;
      max-height: 500px;
      height: auto;
      overflow: auto;
      .content-list {
        padding: 0;
        margin-bottom: 0;
        .list-item {
          position: relative;
          display: flex;
          align-items: center;
          list-style-type: none;
          width: 100%;
          border-bottom: 1px solid var(--content-list-border-color);
          padding: 0.75em;
          font-size: 1.1rem;
          .completed {
            text-decoration: line-through;
            color: var(--completed-color);
          }
          .btn-delete {
            position: absolute;
            background-color: transparent;
            right: 20px;
            border: none;
            align-self: end;
          }
        }
      }
    }
  }
}
.list-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em;
  font-size: 0.9rem;
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: var(--footer-background);

  .list-info {
    color: var(--footer-text-color);
  }

  .list-filters,
  .list-actions {
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin: 0 0.5em;
      color: var(--footer-text-color);
    }

    button:hover {
      font-weight: bold;
      color: var(--btn-hover-color);
    }
    button.active {
      color: $bright-blue;
      font-weight: bold;
    }
  }
}

.list-footer.mobile-footer {
  display: none;
  border-radius: 0.4em !important;
  justify-content: center;
}

.round {
  position: relative;
  margin-right: 1.5em;

  label {
    background-color: transparent;
    border: 1px solid var(--rouned-border-color);
    border-radius: 50% !important;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      border-color: hsl(280, 87%, 65%);
    }
  }

  label::after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }

  input[type="checkbox"] {
    visibility: hidden;
  }

  input[type="checkbox"]:checked + label {
    background: $check-background;
  }

  input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
}

.footer-text {
  text-align: center;
  margin-top: 2em;
  color: var(--footer-text-color);
}

@media only screen and (max-width: 768px) {
  .content-container {
    .header {
      background-image: var(--header-background-mobile) !important;
    }
  }

  .list-footer.desktop-footer {
    .list-filters {
      display: none;
    }
  }
  .list-footer.mobile-footer {
    display: flex;
  }
}
