@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "./variables/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  height: 100svh;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  background-color: $very-dark-blue;
  color: $light-grayish-blue-dark;
}

// Mixin to customize scrollbars in Firefox
@mixin firefox-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: $very-dark-grayish-blue-dark-2 transparent;
  &::-webkit-scrollbar {
    width: 3px;
    border-radius: 10px;
  }
}

.content-container {
  width: 100%;
  height: 100vh;
  .dark {
    background-image: url("../assets/images/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 35vh;
  }

  .content {
    position: relative;
    top: -200px;
    width: 90%;
    // height: 100%;
    max-width: 600px;
    margin: 0 auto;

    .title-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2em;

      .title {
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: 0.5rem;
        color: $light-grayish-blue-hover;
        font-weight: 700;
        margin: 0;
      }

      .btn-toggle {
        background-color: transparent;
        border: none;
        align-self: flex-start;
        img {
          cursor: pointer;
          margin-top: 9px;
        }
      }
    }

    .input-container {
      display: flex;
      align-items: center;
      background-color: $very-dark-desaturated-blue;
      border-radius: 0.4em;
      padding: 0.75em;
      margin-bottom: 1.4em;

      form {
        width: 100%;
      }

      input {
        width: 100%;
        border: none;
        background-color: transparent;
        font-size: 1rem;
        color: $light-grayish-blue-dark;
        margin: 0;
      }
      input:focus,
      input:active,
      input:hover,
      input:focus-visible {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }

    .content-list-container {
      @include firefox-scrollbar;
      position: relative;
      background-color: $very-dark-desaturated-blue;
      border-radius: 0.4em;
      max-height: 500px;
      height: auto;
      overflow: auto;
      .content-list {
        padding: 0;
        margin-bottom: 0;
        .list-item {
          position: relative;
          display: flex;
          align-items: center;
          list-style-type: none;
          width: 100%;
          border-bottom: 1px solid $very-dark-grayish-blue-dark-2;
          padding: 0.75em;
          font-size: 1.1rem;
          .completed {
            text-decoration: line-through;
            color: $very-dark-grayish-blue-dark-1;
          }
          .btn-delete {
            position: absolute;
            background-color: transparent;
            right: 20px;
            border: none;
            align-self: end;
          }
        }
      }
    }
  }
}
.list-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em;
  font-size: 0.9rem;
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: $very-dark-desaturated-blue;

  .list-info {
    color: $very-dark-grayish-blue-dark-1;
  }

  .list-filters,
  .list-actions {
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin: 0 0.5em;
      color: $very-dark-grayish-blue-dark-1;
    }

    button:hover {
      font-weight: bold;
      color: $light-grayish-blue-hover;
    }
    button.active {
      color: $bright-blue;
      font-weight: bold;
    }
  }
}

.list-footer.mobile-footer {
  display: none;
  border-radius: 0.4em !important;
  justify-content: center;
}

.round {
  position: relative;
  margin-right: 1.5em;
}

.round label {
  background-color: transparent;
  border: 1px solid $very-dark-grayish-blue-dark-2;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background: $check-background;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.footer-text {
  text-align: center;
  margin-top: 2em;
  color: $very-dark-grayish-blue-dark-1;
}

@media only screen and (max-width: 768px) {
  .list-footer.desktop-footer {
    .list-filters {
      display: none;
    }
  }
  .list-footer.mobile-footer {
    display: flex;
  }
}
